.clear{
    border-radius: 80%;
    height: 4vh;
    width:100%;
    
}
.row{
    margin: 2vh;
}
.calcbtn{
    width: 100%;
    border-radius: 5px;
    height:8vh;
}
.equalbtn{
    border-radius: 5px;
    width: 100%;
    height:8vh;
}
.lightmode_box{
    border-radius: 40px;
    border-color: hsl(185, 90%, 49%);
    box-shadow: 0px 0px 3px black;
    border-style: solid;
    width:30%;
    padding: 3%;
    background-color: hsl(185, 90%, 49%);
}
.darkmode_box{
    border-radius: 40px;
    border-color: hsl(187, 11%, 28%);
    box-shadow: 0px 0px 3px black;
    border-style: solid;
    width:30%;
    padding: 3%;
    background-color: hsl(187, 11%, 28%);
}
@media  (max-width: 1200px) {
    .lightmode_box{
        width:40%;
    }
    .darkmode_box{
        width:40%;
    }
}
@media (max-width:600px) {
    .lightmode_box{
        width:90%;
        padding: 6%;
    }
    .darkmode_box{
        width:90%;
        padding: 6%;
    }
}
body {
    height: 100vh; /* Set body height to the full viewport height */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
.border{
    width: 100%;
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-style: solid;
    border-color: hsl(186, 23%, 55%);
    box-shadow: 0px 0px 3px black;
    background-color: hsl(186, 23%, 55%);
}
.screen{
    width: 100%;
    margin:auto;
    height: 8vh;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    word-wrap: break-word;
    background-color: aquamarine;
    box-shadow: 0px 0px 3px black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
button{
    box-shadow: 0px 0px 3px black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.modebtn{
    border-radius: 8px;
    width: 100%;
    height:5vh;
}
.darkbtn{
    background-color: hsl(184, 15%, 80%);
}